<% @page_title = "Login" %>
<div class="section">
  <% form_tag session_path do %>
      
    <div class="element">
      <label for="login">Login</label>
      <%= text_field_tag 'login' %>
    </div>
      
    <div class="element">
      <label for="password">Password</label>
      <%= password_field_tag 'password' %>
    </div>
      
    <div class="element">
      <label for="remember_me">Remember me:</label>
      <%= check_box_tag 'remember_me' %>
    </div>
      
    <div class="element">
      <%= submit_tag 'Log in' %><br />
      <%= link_to "Sign Up", new_user_path %> <%= link_to "Forgot Password", forgot_password_path %>
    </div>
  <% end %>
</div>

