<%= page_heading 'Edit Blog' %>

<div class="section">
  <% form_for(@blog) do |f| %>
    <%= render :partial => 'fields', :locals => { :f => f } %>

    <div class="element">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <div class="element">
    <%= link_to 'Show', @blog %> |
    <%= link_to 'Back', blogs_path %>
  </div>
</div>
