<%= page_heading @blog.title %>

<div class="section">
  <% for post in @posts %>
    <div class="element">
      <h3 class="<%= post.enabled ? "enabled_post" : "disabled_post"%>"><%= link_to post.title, [@blog, post] %></h3>
      <small><%= post.updated_at.strftime(AppConfig.date_string) %></small>
      <div class="blog_post_body"><%= post.body %></div>
    </div>
  <% end %>
  <%- if logged_in? %>
    <div class="element">
      <%- if current_user.has_role?('administrator') -%>
        <%= link_to('New Post', new_blog_post_path(@blog)) %>
      <%- end -%>
    </div>
  <%- end -%>
</div>
