<%= page_heading 'Edit Settings' %>

<%- for option in @options.keys.each -%>
  <%- form_tag ({:action => :save_settings, :settings => option.to_s}, :class => "section", :id => option) do -%>
    <h3<%= option == RAILS_ENV ? ' class="selected">'+option.capitalize+" - Current Environment" : '>' + option.capitalize %></h3>
    <%- for value in @options[option].keys.sort.each %>
      <div class="element">
        <%- if value != "theme" -%>
          <%= label_tag value %>
          <%= text_field_tag option+"_"+value, @options[option][value] %>
        <%- end -%>
      </div>
    <%- end -%>
    <div class="element">
      <input type="button" value="Add another field" onClick="addInput('<%= option %>');" />
      <%= submit_tag("Save #{option} Settings") %>
    </div>
  <%- end -%>
<%- end -%>
