<%= f.error_messages %>
  
<div class="element">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="element">
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<div class="element">
  <%= f.label :slug %>
  <%= f.text_field :slug %>
</div>