<div class="element">
  <%= f.error_messages %>
</div>

<div class="element">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="element">
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<div class="element">
  <%= f.label :permalink %>
  <%= f.text_field :permalink %>
</div>

<div class="element">
  <%= f.label :home_page %>
  <%= check_box('page', 'home_page') %>
</div>

<div class="element">
  <%= f.label :enabled %>
  <%= check_box('page', 'enabled') %>
</div>
