<li>
  <%= link_to h(page.title), edit_page_path(page) %>
  <em>(<%= page.enabled? ? 'Enabled' : 'Disabled' %>)</em>
  <%= link_to 'Edit', edit_page_path(page) %>
  <%= link_to 'Visit', page %>
  <%= link_to 'History', versions_page_path(page) %>
  <%= link_to 'Delete', page, :method => :delete, :confirm => 'Are you sure?' %>
  <%= link_to 'New Child', :action => 'new', :id => page %>
  <% if page.children? %>
    <ul>
      <% for child in page.children %>
        <%= render :partial => 'page_list_item', :locals => { :page => child } %>
      <% end %>
    </ul>
  <% end %>
</li>
