<h1>Edit page</h1>

<% form_for(@page) do |f| %>
  <div class="element">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="element">
    <%= f.label :body %>
    <%= fckeditor_textarea("page", "body", :toolbarSet => 'Simple', :height => '400px', :width => '550px') %>
  </div>

  <div class="element">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  
  <div class="actions">
    <%= submit_tag 'Save' %>
  </div>
<% end %>
