<%= page_heading 'Pages' %>

<div class="content">
  <% if @pages.present? %>
    <p>
      <%= link_to 'New Page', new_page_path -%>
    </p>

    <table id="pages">
      <% for page in @pages %>
        <%= render :partial => 'page_row', :locals => { :page => page } %>
      <% end %>
    </table>
    
    <p>
      <%= link_to 'New Page', new_page_path -%>
    </p>
    
  <% else %>
    <div class="empty">
      <p>
        You currently don't have any pages.
      </p>
      
      <p>
        <%= link_to 'Create a Page', new_page_path %>
      </p>
    </div>
  <% end %>

</div>
<%= aside_help_for :pages %>
