<%= page_heading 'Pages' %>

<div class="content">
  <% if @pages.present? %>
    <p>
      <%= link_to 'New Page', new_page_path -%>
    </p>

    <div id="pages">
      <ul>
        <% for page in @pages %>
          <%= render :partial => 'page_list_item', :locals => { :page => page } %>
        <% end %>
      </ul>
    </div>
    
    <p>
      <%= link_to 'New Page', new_page_path -%>
    </p>
    
  <% else %>
    <div class="empty">
      <p>
        You currently don't have any pages.
      </p>
      
      <p>
        <%= link_to 'Create a Page', new_page_path %>
      </p>
    </div>
  <% end %>

</div>
<%= aside_help_for :pages %>
