<%- @page_title = "New Page" -%>

<div class="section">
  <% form_for(@page) do |f| %>
    <div class="element">
      <%= f.error_messages %>
    </div>
      
    <div class="element">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="element">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>

    <div class="element">
      <%= f.label :slug %>
      <%= f.text_field :slug %>
    </div>

    <div class="element">
      <%= f.label :home_page %>
      <%= check_box('page', 'home_page') %>
    </div>

    <div class="element">
      <%= f.label :enabled %>
      <%= check_box('page', 'enabled') %>
    </div>
    
    <div class="element">
      <%= f.hidden_field('parent_id', {:value => @parent_id}) %>
      <%= submit_tag 'Create' %>
    </div>
  <% end %>
</div>
