<%= page_heading 'Page Versions for ' + @page.title %>

<div class="section">
  <div class="element">
    <div class="column">
      Version
    </div>
    <div class="column">
      Title
    </div>
    <div class="column">
      Body
    </div>
    <div class="column">
      Permalink
    </div>
    <div class="column">
      Last Updated
    </div>
    <div class="column">
      Actions
    </div>
    
  <% for version in @versions %>
    <div class="element">
      <div class="column">
        <%=h version.version %>
      </div>
      <div class="column">
        <%=h version.title %>
      </div>
      <div class="column">
        <%=h version.body %>
      </div>
      <div class="column">
        <%=h version.permalink %>
      </div>
      <div class="column">
        <%= time_ago_in_words(version.updated_at).capitalize %> ago by <%= User.find(version.author_id).login %>
      </div>
      <div class="column">
        <%= link_to h('(revert to this version)'), :controller => "pages", :action => "revert_to_version", :id => @page, :version => version.version %>
      </div>
    </div>
  <% end %>
</div>
