<%= page_heading 'Editing Post' %>

<div class="section">
  <% form_for([@blog,@post]) do |f| %>
    <%= render :partial => 'fields', :locals => { :f => f } %>
    
    <div class="element">
      <%= f.submit "Update" %>
    </div>
  <% end %>
  <div class="element">
    <%= link_to 'Show', [@blog,@post] %> | <%= link_to 'Back', blog_posts_path(@blog) %>
  </div>
</div>
