<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= page_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag Theme.admin.stylesheet %>
    <%= scripts %>
  </head>
  <body>
  
    <div id="header">
      <%= link_to AppConfig.site_name, root_path %>
    </div>
    
    <div id="nav">
      <ul>
        <li><%= link_to 'Manage', admin_path %></li>
        <li><%= link_to 'Pages', list_pages_path %></li>
        <li><%= link_to 'People', users_path %></li>
      </ul>
    </div>
    
    <div id="page">
      <%= flashes %>
      <%= yield %>
    </div>
    
    <%= footer %>
    
  </body>
</html>