<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= page_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag Theme.admin.stylesheet %>
    <%= scripts %>
  </head>
  <body>
  
    <div id="header">
      <%= link_to AppConfig.site_name, root_path, :class => 'project_name' %>      
      <ul id="nav">
        <li><%= link_with_selected 'Manage', admin_path %></li>
        <li><%= link_with_selected 'Pages', list_pages_path, :pages %></li>
        <li><%= link_with_selected 'Blogs', blogs_path, :blogs %></li>
        <li><%= link_with_selected 'Designs', themes_path %></li>
        <li><%= link_with_selected 'People', users_path, :users %></li>
      </ul>
    </div>
    <%= flashes %>
    
    <div id="page">
      <%= yield %>
    </div>
    
    <div id="footer">
      Powered by <%= link_to CMS_NAME, CMS_WEBSITE %>
    </div>
    
  </body>
</html>