<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= page_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag Theme.admin.stylesheet %>
    <%= scripts %>
  </head>
  <body>
  
    <div id="header">
      <%= AppConfig.site_name %>
    </div>
    
    <div id="article">
      <%= flash.collect { |k, v| content_tag(:div, v, :class => "flash_"+k.to_s) } %>
      <%= yield %>
    </div>
    
    <%= footer %>
    
  </body>
</html>