<%- get_page_title -%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag get_theme_stylesheet %>
  <script type="text/javascript">
    _editor_url  = "/javascripts/xinha/"
    _editor_lang = "en";
    _editor_skin = "silva";
  </script>
  <script type="text/javascript" src="/javascripts/xinha/XinhaCore.js"></script>
  <script type="text/javascript" src="/javascripts/xinha/config.js"></script>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <ul id=nav>
    <%- get_navigation -%>
    <%- for page in @pages -%>
      <li>
        <%= page -%>
      </li>
    <%- end -%>
  </ul>
  <%- if @subnav -%>
    <ul id="subnav">
      <%- for page in @sub_pages -%>
        <li>
          <%= page -%>
        </li>
      <%- end -%>
    </ul>
  <%- end -%>
  <%= flash.collect { |k, v| content_tag(:div, v, :class => "flash_"+k.to_s) } %>
  <%= @page_heading && !@hidden_title ? "<div id='header'>"+@page_heading+"</div>" : "" %>

  <div id="article">
    <%= yield  %>
  </div>


</body>
</html>
