<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= page_title %></title>
  <%= stylesheet_link_tag Theme.active.stylesheet_path %>
  <%= scripts %>
</head>
<body>
  
  <div id="header">
    <%= AppConfig.site_name %>
    <%= AppConfig.site_slogan %>
  </div>

  <div class="article">
    <%= flash.collect { |k, v| content_tag(:div, v, :class => "flash_"+k.to_s) } %>
    <%= yield  %>
  </div>
  
  <%= footer %>

</body>
</html>
