<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= page_title %></title>
  <%= stylesheet_link_tag theme_stylesheet %>
  <script type="text/javascript">
    _editor_url  = "/javascripts/xinha/"
    _editor_lang = "en";
    _editor_skin = "silva";
  </script>
  <script type="text/javascript" src="/javascripts/xinha/XinhaCore.js"></script>
  <script type="text/javascript" src="/javascripts/xinha/config.js"></script>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <div id="header">
    <h1><%= AppConfig.site_name %></h1>
    <h2><%= AppConfig.site_slogan %></h2>
  </div>
  <ul id="nav">
    <%- get_navigation -%>
    <%- for page in @pages -%>
      <li <%= page == @pages[0] ? ' class="first"' : '' %>>
        <%= page -%>
      </li>
    <%- end -%>
    <li class="search">
      <%- form_tag ("/search") do -%>
        <%= text_field_tag "query", "Search" %>
        <%= submit_tag("Go") %>
      <%- end -%>
    </li>
  </ul>
  <%- if @subnav -%>
    <ul id="subnav">
      <%- for page in @sub_pages -%>
        <li <%= page == @sub_pages[0] ? ' class="first"' : '' %>>
          <%= page -%>
        </li>
      <%- end -%>
    </ul>
  <%- end -%>

  <div class="article">
    <%= flash.collect { |k, v| content_tag(:div, v, :class => "flash_"+k.to_s) } %>
    <%= yield  %>
  </div>
  <div id="footer"><%= AppConfig.site_footer %></div>

</body>
</html>
