<%- get_page_title -%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag 'master' %>
  <%= javascript_include_tag 'fckeditor/fckeditor' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <ul id=nav>
    <%- get_navigation -%>
    <%- for page in @pages -%>
      <li>
        <%= page -%>
      </li>
    <%- end -%>
  </ul>
  <%= flash.collect { |k, v| content_tag(:div, v, :class => "one_column_"+k.to_s) } %>
  <%= @page_heading ? "<h1>"+@page_heading+"</h1>" : "" %>

  <%= yield  %>

</body>
</html>
